.frase-escolha{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: olive;
    margin: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.opcao{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 100px ;
}

.avo1{
    width: 500px;
    margin: 30px;
}