.flex-avo{
    display: flex;
}
.botao-avo{
    background-color:rgb(159, 175, 171);
    border-radius: 10px;
    box-shadow: 0px 10px 10px;
    margin-top: 200px;
    margin-left: 400px;
    font-size: 22px;
    font-weight: bold;
    height: 100px;
    width: 150px;
}
.botao-avo:hover{
    background-color: rgb(67, 190, 238);
    transition: 1s;
    cursor: pointer;
}
    
.frase-escolha{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: olive;
    margin: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.opcao{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 100px ;
}

.avo1{
    width: 500px;
    margin: 30px;
}