@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap');

body{
    background-image:url(../imagens/moana-win.gif);
    background-size: 120%;
}

.win{
    font-family: 'Zilla Slab', serif;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin: 50px;
}

.back-button{
    margin-top: 80px;
    margin-left: 900px;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    background-color: black;
    color: white;
 }
 
 .back-button:hover{
     background-color: rgba(255, 255, 255, 0.733);
     color: black;
     cursor: pointer;
     transition: 1s;
 }
