@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap');

body{
    background-image:url('../imagens/mar.jpg');
    background-size: 100%;
}

.cabecalho{
    text-transform: uppercase;
    font-size: 100px;
}
.titulo-inicio{
    margin: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Zilla Slab', serif;
    
}
.resumo{
    
    margin-left: 250px;
    margin-right: 250px;
    font-size: 1.7em;
    font-family: 'Zilla Slab', serif;
    
} 

.selecao-personagem{
    text-transform: uppercase;
    margin: 35px;
    text-align: center;
    font-size: 30px;
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    color: olive;
}
.moana{
    
    box-shadow: olive;
    text-align: center;
    margin: 30px;
    margin-left: 550px;
    max-width:250px;
    width: auto;
    height: auto;
}

.maui{
    margin: 30px;
    max-width:250px;
    width: auto;
    height: auto;
}

.avo-moana{
    margin: 30px;
    max-width:250px;
    width: auto;
    height: auto;
}
.moana:hover{
    transition: 1.3s;
    cursor: pointer;
    text-align: center;
    margin: 30px;
    margin-left: 550px;
    max-width:300px;
    width: auto;
    height: auto;
}

.maui:hover{
    transition: 1.3s;
    cursor: pointer;
    margin: 30px;
    max-width:300px;
    width: auto;
    height: auto;
}

.avo-moana:hover{
    transition: 1.3s;
    cursor: pointer;
    margin: 30px;
    max-width:300px;
    width: auto;
    height: auto;
}