body{
    background-image:url('../imagens/mar.jpg');
    background-size: 100%;
}
.titulo-inicio{
    margin: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.resumo{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(233, 219, 188);
    border-radius: 15px;
    background-color: rgb(233, 219, 188);
    box-shadow: 15px 15px 15px;
    padding: 10px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.resumo:hover {
    transition: 1.3s;
    border-color:lightgray;
    color: rgb(56, 56, 56);
    padding: 12px;
}

.selecao-personagem{
    margin: 35px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: olive;
}
.moana{
    
    box-shadow: olive;
    text-align: center;
    margin: 30px;
    margin-left: 550px;
    max-width:250px;
    width: auto;
    height: auto;
}

.maui{
    margin: 30px;
    max-width:250px;
    width: auto;
    height: auto;
}

.avo-moana{
    margin: 30px;
    max-width:250px;
    width: auto;
    height: auto;
}
.moana:hover{
    transition: 1.3s;
    cursor: pointer;
    text-align: center;
    margin: 30px;
    margin-left: 550px;
    max-width:300px;
    width: auto;
    height: auto;
}

.maui:hover{
    transition: 1.3s;
    cursor: pointer;
    margin: 30px;
    max-width:300px;
    width: auto;
    height: auto;
}

.avo-moana:hover{
    transition: 1.3s;
    cursor: pointer;
    margin: 30px;
    max-width:300px;
    width: auto;
    height: auto;
}