body{
    background-color: rgb(255, 243, 173);
}
.titulo-inicio{
    margin: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.resumo{
    border-width: 6px;
    border-style: solid;
    border-color: rgb(73, 60, 60);
    border-radius: 15px;
    padding: 40px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resumo:hover {
    border-color: cornflowerblue;
    font-size: 1.7em;
    color: rgb(56, 56, 56);
}

.moana{
    
    box-shadow: olive;
    text-align: center;
    margin: 30px;
    margin-left: 550px;
    max-width:250px;
    width: auto;
    height: auto;
}

.maui{
    margin: 30px;
    max-width:250px;
    width: auto;
    height: auto;
}

.avo-moana{
    margin: 30px;
    max-width:250px;
    width: auto;
    height: auto;
}